# compile files
build/
*.log
cmake-build-debug

# binaries
kfusion/tests/dataset/
scene/

# eclipse files
.cproject
.project
.settings/

# intellij files
.idea/

living_room_*
livingRoom*.gt.freiburg

#editor backups
*~

.vscode
TooN/
OpenNI2dev/
log_cpp.txt
log_stl.txt